$background: #f5f5f5;
$backgroundVariant: #413543;
$color: #eeecc0;
$highlight1: #8961ff;
$highlight2: #ff79fd;
@import url(https://fonts.googleapis.com/css?family=Montserrat|Plus+Jakarta+Sans|Roboto&display=swap);

*{
    margin: 0;
    padding: 0;
}
