$background: #f5f5f5;
$backgroundVariant: #3e168f;
$highlight1: #8961ff;
$highlight2: #ff79fd;
@import url(https://fonts.googleapis.com/css?family=Montserrat|Plus+Jakarta+Sans|Roboto&display=swap);

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.NavBar{
    width: 95%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2.5%;
    font-family: Plus Jakarta Sans;
                
    a{
        text-decoration: none;
        color: black;
    }

    h1{
        font-size: calc(42px + 0.390625vw);

        @media (max-width: 700px){
            font-size: calc(32px + 0.390625vw);
        }
        @media (max-width: 500px){
            font-size: calc(22px + 0.390625vw);
        }
        @media (max-width: 400px){
            font-size: calc(18px + 0.390625vw);
        }
    }

    ul{
        display: flex;
        justify-content: space-around;
        width: 30%;

        @media (max-width: 800px){
            width: 40%;
        }
        @media (max-width: 400px){
            width: 45%;
        }

        li{
            list-style-type: none;
            font-size: calc(14px + 0.390625vw);
            font-weight: 600;
            padding: 20px;
            position: relative;

            @media (max-width: 700px){
                font-size: calc(12px + 0.390625vw);
            }
            @media (max-width: 500px){
                font-size: calc(10px + 0.390625vw);
            }
            @media (max-width: 400px){
                font-size: calc(8px + 0.390625vw);
            }
                        
            &::after{
                content: '';
                background: $highlight1;
                display: block;
                height: 0.15vw;
                width: calc(100% - 40px);
                transform: scaleX(0);
                transform-origin: bottom right;
                transition: transform 0.2s ease-in-out;
                position: absolute;
                border-radius: 5px;
                margin-top: 2px;
            }
    
            &:hover::after{
                transform: scaleX(1);
                transform-origin: bottom left;
            }

            &:hover{
                cursor: pointer;
            }
        }
    }
}