$white: #ffffff;
$offWhite: #f5f7ec;
$highlight: #d12ac3;
$blue1: #BAD7E9;
$blue2: #9BA3EB;
$blue3: #2B3467;
@import url(https://fonts.googleapis.com/css?family=Montserrat|Plus+Jakarta+Sans|Roboto&display=swap);

*{
    margin: 0;
    padding: 0;
}

@mixin text1 {
    font-family: Montserrat;
    color: $primary;
    font-weight: 500;
    font-size: 20px;

    @media (max-width: 1200px){
        font-size: 18px;
    }
    @media (max-width: 768px) {
        font-size: 12px;
    }
}

@mixin text2 {
    font-family: Montserrat;
    color: $primary;
    font-weight: 500;
    font-size: 24px;

    @media (max-width: 1200px){
        font-size: 22px;
    }
    @media (max-width: 768px) {
        font-size: 16px;
    }
}